* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

ul, li {
  list-style: none;
}

button,
input {
  outline: 0;
  border: 0;
}

.btn {
  display: inline-block;
  height: 48px;
  padding: 14px 20px;
  font-size: 13px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
}

.btn-primary {
  background-color: #fbb03b;
  width: 175px;
  height: 47px;
  border-radius: 56px;
}

.container {
  max-width: 1172px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}

.todo {
  background-color: bisque;
  margin-top: 50px;
  min-height: 500px;
  padding: 20px;
  border-radius: 20px;
}

.todo h1 {
  text-align: center;
  margin-bottom: 30px;
}

.add-todo {
  display: flex;
  justify-content: space-around;
}

.text-todo {
  padding: 20px;
  width: 60%;
  border-radius: 5px;
}

.js-btn-add {
  width: 30%;
}

.todo-content {
  display: flex;
  margin: 30px 17px;
  justify-content: space-between;
}

.todo-content p {
  width: 63%;
  background-color: pink;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-btn-delete {
  width: 31%;
}