.badge {
    width: 55px;
    height: 30px;
    padding: 6px 10px;
    border-radius: 20px;
    font-weight: map-get($colors, weight700);
    font-size: map-get($font-size, font-xs);
  }
  
  .badge-danger {
    background-color: map-get($colors, secondary-color);
    color: map-get($colors, white);
  }