.section-collection {
  margin-bottom: 96px;
}

.collection-item {
  position: relative;
  height: 359px;

  &::after {
    content: "";
    background: #333333;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

.collection-content {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 41px;

  h4 {
    color: map-get($colors, white);
    font-size: map-get($font-size, font-lg);
    font-weight: 400;
    margin-bottom: 50px;
    min-height: 74px;
  }

  .badge-collection {
    margin-bottom: 8px;
  }
}

@include ResponsiveForMobile {

  .section-collection {
    margin-bottom: 48px;
  }

  .collection-content {
    padding: 16px;
  }

  .collection-item {
    height: 225px;
  }
}